
.robo {
    margin: 10px;
}

.window {
    margin-bottom: 10px;
    background-color: #ccc;
    border-radius: 8px;
    padding: 10px
}

.editor-console {
    padding-bottom: 5px
}

.select-bot-dropdown {
    float: left;
    margin-right: 5px
}

.dark-border {
    border: 1px solid #444;
}

.light-background {
    background: #fff
}

.code-mirror-div {
    border-right: 1px solid #ddd;
    width: 50%;
    float: left
}

.compiler-output {
    padding: 5px;
    width: 50%;
    float: left;
}

.display-success {
    color: green;
    font-weight: bold;
}

.display-failure {
    color: red;
    font-weight: bold;
}

.line-error {
    font-weight: bold;
}

.line-highlight {
    background: yellow;
}

