
.robo {
    margin: 10px;
}

.editor {
    background-color: #ccc;
    border-radius: 8px;
    padding: 10px
}

.editor-console {
    padding-bottom: 5px
}

.select-bot-dropdown {
    float: left;
    margin-right: 5px
}

.button-border {
    border-color: #444 
}